// Block: project-item-filter
.project-item-filter {
  position: relative;

  // Element: Search Container (icon + input)
  &__search-container {
    display: flex;
    align-items: center;
    gap: var(--e-sp-6);
    padding: var(--spacing-6, 6px) var(--spacing-12, 12px);
    border-radius: 9999px;
    border: 1px solid var(--Grayscale-300, #d1d7db);
  }

  // Element: Search Icon
  &__search-icon {
    width: var(--e-sp-20);
    height: var(--e-sp-20);
    color: var(--e-grayscale-500);
    flex-shrink: 0; // Prevent icon from shrinking
  }

  // Element: Input Field
  &__input {
    flex: 1 1 0%;
    border: none;
    outline: none;
    font-size: var(--e-body-4);
    font-family: 'Rubik', sans-serif;
    font-weight: 400;

    &::placeholder {
      text-transform: capitalize;
      font-size: var(--e-body-4);
      color: var(--e-grayscale-400);
    }

    &:focus {
      outline: none;
    }
  }

  // Element: Tags Container
  &__tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--e-sp-8);
    margin-top: var(--e-sp-8);
  }

  // Element: Dropdown List
  &__dropdown {
    position: absolute;
    z-index: 10;
    background-color: var(--e-grayscale-white);
    border: 1px solid var(--e-grayscale-200);
    width: 100%;
    border-radius: var(--e-br-24);
    box-shadow: var(--e-shadow-base);
    max-height: 250px;
    padding: 0;
    padding-top: var(--e-sp-8);
    padding-bottom: var(--e-sp-8);
    overflow-y: auto;
  }

  // Element: Dropdown Item
  &__dropdown-item {
    padding: var(--e-sp-8) var(--e-sp-16);
    cursor: pointer;
    font-family: 'Rubik', sans-serif;

    &:hover {
      background-color: var(--e-grayscale-100);
    }

    // Modifier: Loading state
    &--loading {
      color: var(--e-grayscale-500);
      cursor: default;
      &:hover {
        background-color: transparent;
      }
    }
  }

  // Element: Suggestion Title
  &__dropdown-item-title {
    font-weight: 500;
    text-transform: capitalize;
    font-size: var(--e-body-4);
  }

  // Element: Suggestion Subtitle
  &__dropdown-item-subtitle {
    font-size: var(--e-body-5);
    color: var(--e-grayscale-500);
    text-transform: capitalize;
  }

  // Element: Basic Suggestion Text (when no specific title/subtitle keys)
  &__dropdown-item-text {
    font-size: var(--e-body-3);
    text-transform: capitalize;
  }
}
