.howToFilters {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: auto;
  height: 100%;
  align-items: left;
  opacity: 0; /* Start hidden for fade-in */
  animation-duration: 1s; /* Example duration */
  animation-timing-function: ease-out; /* Example timing */
  animation-delay: 600ms; /* The requested delay */
  animation-fill-mode: forwards; /* Keep state after animation */

  .title {
    color: #0f1214;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.32px;
    padding: 0;
  }
}
