.methods-list__heading {
  @include mx.e-flex(row, initial, center, var(--e-sp-8));

  &-title {
    opacity: 0;
    animation: methodsSlideFromLeft 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation-delay: 400ms;
  }

  &-actions {
    @include mx.e-flex(row, initial, center, var(--e-sp-4));

    margin-left: auto;
    &__complete,
    &__edit {
      min-width: initial;
      padding: 0;

      img {
        width: 24px;
        height: 24px;
      }
    }

    &__complete {
      animation: eHeartbeat 1s ease-out forwards;
    }

    &__edit {
      animation: methodsSlideFromLeft 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    }
  }
}
