@tailwind components;

@layer components {
  .methods-list__heading {
    @apply flex items-center gap-2 mb-3 mt-4;
  }

  .methods-list__heading-title {
    opacity: 0;
    animation: methodsSlideFromLeft 1s cubic-bezier(0.165,0.84,0.44,1) forwards;
    animation-delay: 400ms;
  }

  .methods-list__heading-actions {
    @apply flex items-center gap-1 ml-auto;
  }

  .methods-list__heading-actions__complete,
  .methods-list__heading-actions__edit {
    @apply p-0 min-w-0;
  }

  .methods-list__heading-actions__complete {
    animation: eHeartbeat 1s ease-out forwards;
  }

  .methods-list__heading-actions__edit {
    animation: methodsSlideFromLeft 1s cubic-bezier(0.165,0.84,0.44,1) forwards;
  }
}
