html,
body {
  // height: 100%;
  font-family: 'Rubik', sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  color: var(--e-grayscale-950);
  background-color: var(--e-grayscale-100) !important;
  transition: all 200ms ease-in-out;
}

// Base scrollbar styles
::-webkit-scrollbar {
  background: var(--e-grayscale-100);
}

// Vertical scrollbar
::-webkit-scrollbar:vertical {
  width: 8px;
}

// Horizontal scrollbar
::-webkit-scrollbar:horizontal {
  height: 8px;
}

// Track styles for both
::-webkit-scrollbar-track {
  background: var(--e-grayscale-200);
  border-radius: var(--e-br-2);
}

// Thumb styles for both
::-webkit-scrollbar-thumb {
  background: var(--e-grayscale-400); // Set a default visible color
  border-radius: var(--e-br-2);

  &:hover {
    background: var(--e-grayscale-600); // Darker on hover for better contrast
  }
}

// Corner where both scrollbars meet
::-webkit-scrollbar-corner {
  background: var(--e-grayscale-100);
}

a {
  font-size: var(--e-body-4);
  color: var(--e-system-blue-600);
  text-decoration: none;
  cursor: pointer;
  transition: all 300ms ease-in-out;

  &:hover {
    color: var(--e-system-blue-800);
    transition: all 300ms ease-in-out;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
span,
figure {
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: var(--e-grayscale-950);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

pre {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  word-wrap: break-word;
}

code {
  flex: 1;
  line-height: 1.4;
  min-height: 100%;
  font-size: var(--e-sp-14);
  overflow: unset;
  padding: var(--e-sp-12) var(--e-sp-16) !important;
  color: var(--e-grayscale-200) !important;
  background-color: var(--e-grayscale-black) !important;
}
